{% if is_granted("IS_AUTHENTICATED_REMEMBERED") == false %}
    {% if error %}
        <i  class="icon-warning_alt login-error inline"></i>
        <div class="inline">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
{% endif %}
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") == false %}
    {% if  form_errors(form.username) %}
        <i  class="icon-warning_alt login-error "></i>
        <div class="inline">Username already in use.
            Use a different username.
        </div>
    {% endif %}
    {% if  form_errors(form.email)  %}
        <i  class="icon-warning_alt login-error"></i>
        <div class="inline">Email already in use.
            Use a different email.
        </div>
    {% endif %}
{% endif %}
{% if app.request.hasPreviousSession %}
    {% for type, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <i  class="icon-sli-check login-success"></i>
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endif %}
{#
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <p>Username: {{ app.user.username }}</p>
{% endif %}
#}